
*{

}
header{
    display: flex;
    align-items: center;
    background-color: lightblue;
}
h2{
    color: rgb(251, 0, 247);
    font-size: 40px;
    font-weight: 900;
    text-shadow: 1px 1px 3px black;
    font-style: italic;
    margin-left: 250px;
}
.list{
    margin-left: 130px;
}
.list li{
    display: inline-block;
    font-weight: 600;
}
li{
    padding: 15px;
}
.log{
    padding-left: 80px;
}
.logpage{
    text-decoration: none;
    color: black;
}
.logpage2{
    background-color: rgb(251, 0, 247);
    border: 1px solid white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 8px white;
    font-size: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.bar{
    display: none;
    font-size: 28px;
}
.bar:hover{
    background-color: green;
    cursor: pointer;
    padding: 10px;
}
.drop{
    font-size: 30px;
}
.logpage3{
    text-decoration: none;
    color: white;
}
.list button{
    background-color: rgb(251, 0, 247);
    box-shadow: 1px 1px 4px black;
    font-size: 15px ;
    border-radius: 30px;
    padding: 8px 16px ;
    border: none;
    color: white;
    border: 4px soloid red;
}
.sec1{
    width: 100%;
    height: 550px;
    background-image: url(./ggg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.divh{
    color: White;
    font-size: 45px;
    text-shadow: 1px 1px 5px;
    line-height: 50px;
    font-weight: 600;
    margin-left: 900px;
    padding-top: 30px;
}
.para{
    color: White;
    margin-left: 900px;
    margin-top: 20px;
    line-height: 30px; 
}
.but{
    display: inline-block;
    margin-left: 900px;
    /* margin-right: 460px; */
    padding: 15px 20px;
    font-size: 15px;
    color: white;
    background-color: rgb(251, 0, 247);
    box-shadow: 1px 1px 15px violet;
    border: none;
    border-radius: 10px;
}
.ex{
    display: inline-block;
    margin-left: 20px;
    padding: 15px 20px;
    font-size: 15px;
    box-shadow:1px 1px 5px white;
    background-color: rgb(251, 0, 247);
    border: 1px solid white;
    border-radius: 30px;
    background: transparent;
    text-shadow: 1px 1px 3px;
}
.eeex{
    text-decoration: none;
    color: white;
}

.sec2{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}
.divp{
    flex: 1 ;
}
h3{
    margin-left:200px ;
    font-size: 25px;
    color: rgb(251, 0, 247);
}
.para2{
    margin-left:200px ;
    line-height: 25px;
    word-spacing: 3px;
    width: 500px;
    flex: 1;
}
.pic3{
    border: 7px solid  rgb(251, 0, 247);
    box-shadow: 1px 1px 10px violet;
    background-size: cover;
    border-radius: 40px;
    width: 450px;
    margin-left: 130px;
}
.top{
    margin-left: 700px;
    border: 2px solid  rgb(251, 0, 247);
    background-color:  rgb(251, 0, 247);
    color: white;
    font-size: 17px;
    box-shadow: 1px 3px 10px black;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 12px;
    border-radius: 20px;
}
.bookm{
    text-decoration: none;
    color: greenyellow;
}
footer{
    background-color: black;
    height: 150px;
}
.fdiv{
    color: white;
    text-align: center;
    padding-top: 20px ;
    font-size: 20px;
}
.apps{
    padding-left: 600px;
} 
@media screen and (min-width:390px) and (max-width:703px){
    .list{
        display: none;
        }
        .drop{
            display: none;
        }
    .bar{
        display: block;
        transform: translatex(200px);}
    .bar:hover + .list{
        display: block;
        position: absolute;
        display: flex;
        flex-direction: column;
        /* z-index: 20; */
        /* width: 80px; */
        /* height: 50px; */
        top: 70px;
        left: 350px;
        background-color: gray;
    }
    .pic3{

    }
    .sec2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .top{
        border: 1px solid black;
        margin-left:    400px;
        /* transform: translatex(400px); */
    }
    .top:hover{
        transform: scale(1.2);
    }
    .apps{
        border: 4px solid red;
        padding-left:0px ;
        width: 400px;
        transform: translatex(150px);
    }
    .but{
        margin-left: 0px;
    }
    .ex{
        border: 2px solid black;
        color: black;
        margin-left: 0px;

    }
}


 /* media quriess */

 
